<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/tickets.css' />
</head>
<body>
<%- include('../partials/login') %>

<h1 id="tickets-list">Events Lists</h1>

<% tickets.forEach(function(ticket) { %>
<div class="display-ticket">

        <div> <%= ticket.name %></div>
        <div id="day"> <%= ticket.day %></div><br>
        <div> <%= ticket.location %></div><br>
        <div> <%= ticket.price %> </div>
                <a  id="details" href="/tickets/<%= ticket._id %>">Details</a>

</div>

<% }); %>
<%- include('../partials/footer') %>
