<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%- include('../partials/login') %>

<h1 id="tickets-list">Events</h1>


<div class="display-ticket">
<% ticket.forEach(function(t) { %>
        <div> <%= t.name %></div>
        <div> <%= t.day %></div>
        <div> <%= t.location %></div>
        <div> <%= t.price %></div>
<% }); %>
</div>
<a href="tickets/:id/show">Details</a>



<%- include('../partials/footer') %>
