<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>


<%- include('../partials/login') %>

<section class="details">
    <div> <%= ticket.name %></div>
    <div> <%= ticket.day %></div>
    <div> <%= ticket.location %></div>
    <div> <%= ticket.price %></div>
</section><br>

<% ticket.comment.forEach(com => {%>
    <div class="edit"><%= com.content %></div>
        <% if(user && user._id == com.createdBy.toString()){%>
    <a href="/comments/<%= com._id %>/edit"><button class="editDelete" type="submit">Edit</button></a>
    <form action="/tickets/<%= ticket._id%>/comments/<%= com._id %>?_method=DELETE" method="POST"><button class="editDelete" type="submit">Delete </button></form> <br>
<% }%>
    <% })%><br>
<% if (user){%>
<form id="comment" action="/tickets/<%= ticket._id%>/comments" method="POST">
    <input name="content">
    <button class="editDelete" type="submit">Add Comment</button>
</form>
<% }%>




<%- include('../partials/footer') %>