<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<%- include('../partials/login') %>

<section id="details">
    <div> <%= t.name %></div>
    <div> <%= t.day %></div>
    <div> <%= t.location %></div>
    <div> <%= t.price %></div>
</section>



<%- include('../partials/footer') %>